html{
  scroll-behavior: smooth;
}
body{
 margin:10px;
}
 .header{ border: thick double #0c0c0c;
  /*  border: 4px solid black;*/
    text-align: center;
    padding: 10px;
  }
 
.navbar {
  margin-top: 50px;
  
  color: aliceblue;
  padding: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
.jumbotron{
 color: black;
 }
h1{
text-shadow: rgb(100, 100, 100) 2px 2px;

}
.row{
background-color: black;
color: aliceblue;
margin: 10px;
padding: 10px;
}


/* Set black background color, white text and some padding */
footer {
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
/* menu bar start from here */
.dropbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(170, 160, 160);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;   transform: scale(1.02);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(8, 8, 8);color:#ddd  ; transform: scale(1.1);
}
/* menu bar end here */
/* box styling start from here */
.box{
  display: inline-block;
 width: 420px;
 background-color: black;
 height: 400px;
 overflow: hidden;
 margin-left: 15px;
 padding: 10px;
}
/* .alignment{
  display: inline-block;
  width: 1%;
  height: 40px;
  margin-left: 40px;
  
} */
.box:hover{
  color:rgb(209, 200, 200);
  transform: scale(1.02);
}
/* box styling ends here */
/* nav menu start from here */
.hvr:hover{
  background-color: rgb(8,8,8);
  transform: scale(1.1);
}
/* nav menu ends here */
/*design for slide pics*/
.carousel-inner{
  padding:5% 28%;
}
.box3{
  font-size: 12px;
  /* padding: 0; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box2{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large ;
}
.box1{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

