html{
  scroll-behavior: smooth;
}
body{
 margin:10px;
}
 .header{ border: thick double #0c0c0c;
  /*  border: 4px solid black;*/
    text-align: center;
    padding: 10px;
  }
  .success{
    color:#2ed573;
}
.error{
    color:#ff4757;
}
.navbar {
  margin-top: 50px;
  background-color: rgb(49, 47, 47);
  
  color: aliceblue;
  padding: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
.jumbotron{
 color: black;
 }
h1{
text-shadow: rgb(100, 100, 100) 2px 2px;

}
.row{
background-color: black;
color: aliceblue;
margin: 10px;
padding: 10px;
}


/* Set black background color, white text and some padding */
footer {
  background-color: rgb(49, 47, 47);
    color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
/* menu bar start from here */
.dropbtn {
  background-color: transparent;
  color: rgb(170, 160, 160);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;   transform: scale(1.02);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(8, 8, 8);color:#ddd  ; transform: scale(1.1);
}
/* menu bar end here */
/* box styling start from here */
.box{
  display: inline-block;
 width: 420px;
 background-color: rgb(58, 55, 55);
 height: 400px;
 overflow: scroll;
 margin-left: 15px;
 padding: 10px;
 color: rgb(182, 170, 170);
}
/* .alignment{
  display: inline-block;
  width: 1%;
  height: 40px;
  margin-left: 40px;
  
} */
.box:hover{
  color:rgb(240, 231, 231);
  transform: scale(1.02);
}
/* box styling ends here */
/* nav menu start from here */
.hvr:hover{
  background-color: rgb(8,8,8);
  transform: scale(1.1);
}
/* nav menu ends here */
/*design for slide pics*/
.carousel-inner{
  padding:5% 28%;
}
.tag{
  background-color: rgb(12, 108, 128);
  color:white;
  text-align: center;
  margin:50px 0px;
  padding:10px;
  border-radius: 5px;
}
.btn{
  height:auto;
  width:100px;
  margin:5px;
  padding:10px;
  border-radius: 5px;
  border:2px solid rgb(12, 108, 128);
}
.noaccount-a{
  text-decoration: none;
}

/* login box styling start form here */
  .hw{
    /* height: 20px; */
    width: 40%;
    margin-left: 30%;
    margin-top: .1%;
   
  }
  .sbmt{
    margin-left: 55%;
  }
  .sbmt1{
    margin-left: 30%;
  }
  .sbmt1:hover{
    background-color:rgba(253, 21, 21, 0);
  }
  
/* login box styling ends here */
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
.submit{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.submit:hover{
  border-color: #2691d9;
  transition: .5s;
}
.have-account{
  color:#a4d420;
}
.clr{
  color:white;
}
.btn{
  height:auto;
  width:100px;
  background-color:rgb(12, 108, 128);
  color: white;
  padding:10px;
  border-radius: 5px;
  border:2px solid rgb(12, 108, 128);
}